*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    height: 100vh;
    overflow: hidden;
    background-color: #A164DF;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container button {
    padding: 2rem 3rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    color: white;
    background-color: #581f92;
    cursor: pointer;
    transition: background .3s, scale .3s;
    -webkit-transition: background .3s, scale .3s;
    -moz-transition: background .3s, scale .3s;
    -ms-transition: background .3s, scale .3s;
    -o-transition: background .3s, scale .3s;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
}
.container button:hover {
    background-color: #5f229c;
}